@{
    ViewBag.Title = "Home Page";
}




<div class="row">
    <div class="col-md-8 col-lg-offset-4">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="@Url.Content("~/Content/images/Websites")" alt="">
                <div class="card-title">
                    Producto 1
                    
                        
                        
                    
                </div>

            </div>
            <div class="card-body">
                <p class="card-text">Descripcion</p>
                <a href="#" class="btn btn-primary">Agregar</a>
                                
            </div>
        </div>
         <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="@Url.Content("~/Content/images/Websites")" alt="">
                        <div class="card-title">
                            Producto 2
                        </div>
        
                    </div>
                    <div class="card-body">
                        <p class="card-text">Descripcion</p>
                        <a href="#" class="btn btn-primary">Agregar</a>
                                        
                    </div>
                </div>
       
            
    </div>

</div>